@using MySql.Data.MySqlClient
@{
    ViewData["Title"] = "Home Page";
}

<h2>
    @ViewData["Message"]
</h2>

<h1>
    
         test: @System.IO.Directory.GetCurrentDirectory()
    <br/>
         
</h1>
